<section>
  <header>
    <h1>Inugami-NG : SVG utilities</h1>
  </header>


  <main>
    <!--================================================================================================================
    =
    =================================================================================================================-->
    <article>
      <header>
        <h2>Colors</h2>
      </header>

      @for (key of allColorKeys(); track key; ) {
        <fieldset>
          <legend>{{ key }}</legend>
          <div class="colors">
            @for (color of getColor(key); track color; ) {
              <div class="color" [style]="`background-color:${color}`"></div>
            }
          </div>
        </fieldset>
      }


    </article>


  </main>


</section>
