<section>
  <header>
    <h1>Inugami-NG : SVG utilities</h1>
  </header>


  <main>
    <!--================================================================================================================
    =
    =================================================================================================================-->
    <article>
      <header>
        <h2>Colors</h2>
      </header>

      @for (key of allColorKeys(); track key; ) {
        <fieldset>
          <legend>{{ key }}</legend>
          <div class="colors">
            @for (color of getColor(key); track color; ) {
              <div class="color" [style]="`background-color:${color}`"></div>
            }
          </div>
        </fieldset>
      }

      <fieldset class="chooseColor">
        <legend>Choose color</legend>
        <div>
          <select name="colorPalette" (change)="onColorPaletteChanged($event)" >
            @for (key of allColorKeys(); track key; ) {
              <option [value]="key">{{ key }}</option>
            }
          </select>
          <input  type="number" min="0" max="100" (change)="onPercentChanged($event)"/>
        </div>
        <div class="selected-color">
          <div class="color"  [style]="`background-color:${color()}`" ></div>
        </div>
        <div>

        </div>
      </fieldset>
    </article>


  </main>


</section>
