<section>
  <header>
    <h1>Inugami-NG : inu-page-layout</h1>
  </header>


  <main>
    <!--================================================================================================================
    =
    =================================================================================================================-->
    <article>
      <header>
        <p>
          The <code>inu-page-layout</code> component is designed with a <strong>classic web page layout</strong> in mind,
          featuring a sidebar navigation on the left.
        </p>
      </header>

      <p>
        <em>Inugami-NG</em> was initially developed to meet the specific component and rendering needs of the
        <em>Inugami website</em>. Although this library has grown to be much more versatile, it was primarily built to
        simplify the design and development process of the Inugami platform as much as possible.
      </p>

      <p>
        The showcase uses the <code>inu-page-layout</code> component within its main Angular template.
      </p>

      <inu-panel-tabs>
        <inu-panel-tab name="html" label="HTML">
          <inu-code url="data/layout/inu_page_layout_source_code.xml" tag="html"></inu-code>
        </inu-panel-tab>
        <inu-panel-tab name="typescript" label="TypeScript">
          <inu-code url="data/layout/inu_page_layout_source_code.xml" tag="ts"></inu-code>
        </inu-panel-tab>
      </inu-panel-tabs>

      <p>
        The component is fully responsive and adjusts its display mode for screens smaller than <strong>920px</strong>.
        In this case, the sidebar menu is displayed above the main content.
      </p>

    </article>

    <!--================================================================================================================
    =
    =================================================================================================================-->


  </main>


</section>
