<section>
  <header>
    <h1>Inugami-NG : inu-checkbox-group</h1>
  </header>


  <main>
    <!--================================================================================================================
    =
    =================================================================================================================-->
    <article>
      <header>
        <h2>Simplified checkbox usage</h2>
        The <em>inu-checkbox-group</em> component is designed to simplify checkbox usage within <strong>Signal-based forms</strong>.

        <inu-code url="data/display/inu_checkbox_group_source_code.xml" tag="import"></inu-code>

        It leverages the <code>InuSelectItem{{genericT()}}</code> interface to provide a consistent and
        <strong>type-safe</strong> way to manage selection lists.

        <inu-code url="data/display/inu_checkbox_group_source_code.xml" tag="InuSelectItem"></inu-code>

      </header>
    </article>




    <!--================================================================================================================
    = EXAMPLE
    =================================================================================================================-->
    <article>
      <header>
        <h2>Example</h2>
      </header>

      <div class="form-container">
        <div class="form-row-col">
          <div class="form-cell">
            <inu-checkbox-group label="HTTP verb"
                                [required]="true"
                                [formField]="myForm.verb"
                                [values]="verbs()"></inu-checkbox-group>
          </div>
          <div class="form-cell m-width-50p m-height-15">
            <inu-panel-tabs>
              <inu-panel-tab name="html" label="HTML">
                <inu-code url="data/display/inu_checkbox_group_source_code.xml" tag="html"></inu-code>
              </inu-panel-tab>

              <inu-panel-tab name="ts" label="TypeScript">
                <inu-code url="data/display/inu_checkbox_group_source_code.xml" tag="ts"></inu-code>
              </inu-panel-tab>

              <inu-panel-tab name="example" label="Example">
                <inu-code [source]="data()" type="json"></inu-code>
              </inu-panel-tab>

            </inu-panel-tabs>
          </div>
        </div>
      </div>
    </article>

    <article>
      <header>
        <h2>Vertical example</h2>
      </header>

      <div class="form-container">
        <div class="form-row-col">
          <div class="form-cell">
            <inu-checkbox-group label="HTTP verb"
                                [formField]="myForm.verb"
                                [values]="verbs()"
                                [vertical]="true"></inu-checkbox-group>
          </div>
          <div class="form-cell m-width-50p m-height-15">
            <inu-panel-tabs activeTab="ts">
              <inu-panel-tab name="html" label="HTML">
                <inu-code url="data/display/inu_checkbox_group_source_code.xml" tag="html"></inu-code>
              </inu-panel-tab>

              <inu-panel-tab name="example" label="Example">
                <inu-code [source]="data()" type="json"></inu-code>
              </inu-panel-tab>
            </inu-panel-tabs>
          </div>
        </div>
      </div>

    </article>


    <article>
      <header>
        <h2>Required example</h2>

      </header>
      <div class="form-container">
        <div class="form-row-col">
          <div class="form-cell-col">
            <p>
              Mandatory field logic is handled directly by the Signal form. Therefore, there is no need to define a
              <code>required</code> attribute on the component to enforce validation.
            </p>

            <inu-checkbox-group label="HTTP verb"
                                [formField]="myFormRequired.verb"
                                [values]="verbs()"
                                [vertical]="true"></inu-checkbox-group>
          </div>
          <div class="form-cell m-width-50p m-height-15">
            <inu-panel-tabs>
              <inu-panel-tab name="ts" label="TypeScript">
                <inu-code url="data/display/inu_checkbox_group_source_code.xml" tag="tsRequired"></inu-code>
              </inu-panel-tab>

              <inu-panel-tab name="example" label="Example">
                <inu-code [source]="data()" type="json"></inu-code>
              </inu-panel-tab>
            </inu-panel-tabs>
          </div>
        </div>
      </div>

    </article>

    <article>
      <header>
        <h2>Disabled example</h2>
      </header>

      <div class="form-container">
        <div class="form-row-col">
          <div class="form-cell-col">
            <p>
              Similarly to mandatory fields, disabled states are also defined via the Signal form.
            </p>

            <inu-checkbox-group label="HTTP verb"
                                [formField]="myFormDisabled.verb"
                                [values]="verbs()"
                                [vertical]="true"></inu-checkbox-group>
          </div>
          <div class="form-cell m-width-50p m-height-15">
            <inu-panel-tabs>
              <inu-panel-tab name="ts" label="TypeScript">
                <inu-code url="data/display/inu_checkbox_group_source_code.xml" tag="tsDisabled"></inu-code>
              </inu-panel-tab>

              <inu-panel-tab name="example" label="Example">
                <inu-code [source]="data()" type="json"></inu-code>
              </inu-panel-tab>
            </inu-panel-tabs>
          </div>
        </div>
      </div>


    </article>

    <!--================================================================================================================
   = PROPERTIES
   =================================================================================================================-->
    <article>
      <header>
        <h2>Properties</h2>
      </header>


      <inu-table-flex>
        <inu-table-flex-header size="0.7fr">Property</inu-table-flex-header>
        <inu-table-flex-header size="2fr">Type</inu-table-flex-header>
        <inu-table-flex-header size="2fr">Default value</inu-table-flex-header>
        <inu-table-flex-header size="4fr">Description</inu-table-flex-header>

        <inu-table-flex-row>
          <inu-table-flex-cell>changed</inu-table-flex-cell>
          <inu-table-flex-cell>OutputEmitterRes{{genericTList()}}</inu-table-flex-cell>
          <inu-table-flex-cell></inu-table-flex-cell>
          <inu-table-flex-cell>Event emitted when the component value changes.</inu-table-flex-cell>
        </inu-table-flex-row>


        <inu-table-flex-row>
          <inu-table-flex-cell>disabled</inu-table-flex-cell>
          <inu-table-flex-cell>boolean</inu-table-flex-cell>
          <inu-table-flex-cell>false</inu-table-flex-cell>
          <inu-table-flex-cell></inu-table-flex-cell>
        </inu-table-flex-row>

        <inu-table-flex-row>
          <inu-table-flex-cell>label</inu-table-flex-cell>
          <inu-table-flex-cell>string</inu-table-flex-cell>
          <inu-table-flex-cell>undefined</inu-table-flex-cell>
          <inu-table-flex-cell></inu-table-flex-cell>
        </inu-table-flex-row>

        <inu-table-flex-row>
          <inu-table-flex-cell>values</inu-table-flex-cell>
          <inu-table-flex-cell>InuSelectItem{{ genericT() }}[]</inu-table-flex-cell>
          <inu-table-flex-cell>[]</inu-table-flex-cell>
          <inu-table-flex-cell>the list of values used for the different checkboxes</inu-table-flex-cell>
        </inu-table-flex-row>

        <inu-table-flex-row>
          <inu-table-flex-cell>required</inu-table-flex-cell>
          <inu-table-flex-cell>boolean</inu-table-flex-cell>
          <inu-table-flex-cell>false</inu-table-flex-cell>
          <inu-table-flex-cell></inu-table-flex-cell>
        </inu-table-flex-row>

        <inu-table-flex-row>
          <inu-table-flex-cell>vertical</inu-table-flex-cell>
          <inu-table-flex-cell>boolean</inu-table-flex-cell>
          <inu-table-flex-cell>false</inu-table-flex-cell>
          <inu-table-flex-cell>Displays the component in a column layout.</inu-table-flex-cell>
        </inu-table-flex-row>


      </inu-table-flex>
    </article>
  </main>


</section>
