<section>
  <header>
    <h1>Inugami-NG : inu-svg-isometric</h1>
  </header>


  <main>
    <!--================================================================================================================
    =
    =================================================================================================================-->
    <article>
      <header>
      </header>

    </article>

    <!--================================================================================================================
    = EXAMPLE
    =================================================================================================================-->
    <article>
      <header>
        <h2>Example</h2>
      </header>
      <inu-svg-isometric></inu-svg-isometric>
    </article>


    <!--=================================================================================================================
   = PROPERTIES
   =================================================================================================================-->
    <article>
      <header>
        <h2>Properties</h2>
      </header>


      <inu-table-flex>
        <inu-table-flex-header size="0.7fr">Property</inu-table-flex-header>
        <inu-table-flex-header size="2fr">Type</inu-table-flex-header>
        <inu-table-flex-header size="2fr">Default value</inu-table-flex-header>
        <inu-table-flex-header size="4fr">Description</inu-table-flex-header>


        <inu-table-flex-row>
          <inu-table-flex-cell>disabled</inu-table-flex-cell>
          <inu-table-flex-cell>boolean</inu-table-flex-cell>
          <inu-table-flex-cell>false</inu-table-flex-cell>
          <inu-table-flex-cell></inu-table-flex-cell>
        </inu-table-flex-row>
      </inu-table-flex>


    </article>
  </main>


</section>
