<section>
  <header>
    <h1>Inugami-NG : inu-toggle</h1>

    <p>

    </p>
  </header>


  <main>
    <!--================================================================================================================
    = DEFAULT
    =================================================================================================================-->
    <article>
      <header>
        <h2>Example default</h2>
      </header>


      <div class="form-container">
        <div class="form-row-col">
          <div class="form-cell m-width-50p  form-line">

            <inu-toggle label="Email"
                        labelKey="notification_email"
                        [formField]="myForm.email">
            </inu-toggle>

            <inu-toggle label="In application"
                        labelKey="notification_in_app"
                        [formField]="myForm.inApp">
            </inu-toggle>

            <inu-toggle label="Sms"
                        labelKey="notification_sms"
                        [formField]="myForm.sms">
            </inu-toggle>

            <inu-toggle label="Mail"
                        labelKey="notification_mail"
                        [formField]="myForm.mail">
            </inu-toggle>
          </div>

          <div class="form-cell m-width-50p m-height-15 d-flex-column">
            <inu-panel-tabs>
              <inu-panel-tab name="html" label="HTML">

              </inu-panel-tab>
              <inu-panel-tab name="ts" label="TypeScript">
              </inu-panel-tab>
            </inu-panel-tabs>
          </div>
        </div>
      </div>

    </article>


    <!--================================================================================================================
    = LEFT
    =================================================================================================================-->
    <article>
      <header>
        <h2>Example default</h2>
      </header>


      <div class="form-container">
        <div class="form-row-col">
          <div class="form-cell m-width-50p form-line">

            <inu-toggle label="Email"
                        labelKey="notification_email"
                        [left]="true"
                        [formField]="myForm.email">
            </inu-toggle>

            <inu-toggle label="In application"
                        labelKey="notification_in_app"
                        type="secondary"
                        [left]="true"
                        [formField]="myForm.inApp">
            </inu-toggle>

            <inu-toggle label="Sms"
                        labelKey="notification_sms"
                        type="danger"
                        [left]="true"
                        [formField]="myForm.sms">
            </inu-toggle>

            <inu-toggle label="Mail"
                        labelKey="notification_mail"
                        type="neutral"
                        [left]="true"
                        [formField]="myForm.mail">
            </inu-toggle>
          </div>

          <div class="form-cell m-width-50p m-height-15 d-flex-column">
            <inu-panel-tabs>
              <inu-panel-tab name="html" label="HTML">

              </inu-panel-tab>
              <inu-panel-tab name="ts" label="TypeScript">
              </inu-panel-tab>
            </inu-panel-tabs>
          </div>
        </div>
      </div>

    </article>


    <!--================================================================================================================
     = PROPERTIES
     =================================================================================================================-->
    <article>
      <header>
        <h2>Properties</h2>
      </header>


      <inu-table-flex>
        <inu-table-flex-header size="0.7fr">Property</inu-table-flex-header>
        <inu-table-flex-header size="2fr">Type</inu-table-flex-header>
        <inu-table-flex-header size="2fr">Default value</inu-table-flex-header>
        <inu-table-flex-header size="4fr">Description</inu-table-flex-header>

        <inu-table-flex-row>
          <inu-table-flex-cell>loading</inu-table-flex-cell>
          <inu-table-flex-cell>boolean</inu-table-flex-cell>
          <inu-table-flex-cell>false</inu-table-flex-cell>
          <inu-table-flex-cell>Controls the visibility of the loading overlay</inu-table-flex-cell>
        </inu-table-flex-row>


      </inu-table-flex>
    </article>


  </main>


</section>
