.inu-tool-tips {
  display: flex;

  .inu-tool-tips-button {
    border-radius: 1rem;
    width: 0.7rem;
    height: 0.7rem;
    border: 1px solid var(--secondary-dark);
    fill: var(--secondary-dark);
    display: flex;
    justify-content: center;
    align-items: center;

  }
}

.inu-tool-tips-message {
  position: absolute;
  z-index: 1000;
  background-color: var(--neutral-dark-extra);
  color: var(--secondary-light-extra);
  padding: 0.5rem;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  pointer-events: none;

  &.display {
    opacity: 1;
    visibility: visible;
    max-width: 20rem;
    white-space: normal;
    overflow-wrap: anywhere;
  }
}
