.inu-doc-item {
  display: flex;
  flex-direction: column;


  header {
    display: flex;
    width: 100%;

    .title {
      flex: 1;
    }

    a {
      &:hover {
        text-decoration: none;
      }
    }

    border-bottom: 0.125rem solid transparent;
    .anchor-icon{
      transition: fill 500ms;
    }
    &:hover{
      border-bottom: 0.125rem solid var(--neutral);
      .anchor-icon{
        fill: var(--neutral);
      }
    }

    .anchor {
      display: flex;
      flex-direction: row;
      width: 100%;
      align-content: baseline;
      gap: 2rem;
    }
    .anchor-icon{
      fill: transparent;
    }
    h1 {
      padding: 0;
      margin: 0;
    }

    h2 {
      padding: 0;
      margin: 0;
    }

    h3 {
      padding: 0;
      margin: 0;
    }

    h4 {
      padding: 0;
      margin: 0;
    }

    h5 {
      padding: 0;
      margin: 0;
    }

    h6 {
      padding: 0;
      margin: 0;
    }
  }

  &.level-1{
    &>header:hover{
      border-bottom: 0.125rem solid var(--primary-dark);
    }
  }
  &.level-2{
    &>header:hover{
        border-bottom: 0.125rem solid var(--primary-dark);
    }
  }

  .content{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
