<section>
  <header>
    <h1>Inugami-NG : inu-toast</h1>
  </header>


  <main>
    <!--================================================================================================================
    =
    =================================================================================================================-->
    <article>
      <header>
        <h2></h2>

      </header>

    </article>

    <!--================================================================================================================
    = EXAMPLE
    =================================================================================================================-->

    <article>
      <header>
        <h2>Example</h2>
      </header>

        <button (click)="addMessage()">click</button>
    </article>



   <!--================================================================================================================
   = PROPERTIES
   =================================================================================================================-->
    <article>
      <header>
        <h2>Properties</h2>
      </header>

      <fieldset>
        <legend>inu-panel-tabs</legend>
        <inu-table-flex>
          <inu-table-flex-header size="0.7fr">Property</inu-table-flex-header>
          <inu-table-flex-header size="2fr">Type</inu-table-flex-header>
          <inu-table-flex-header size="2fr">Default value</inu-table-flex-header>
          <inu-table-flex-header size="4fr">Description</inu-table-flex-header>


          <inu-table-flex-row>
            <inu-table-flex-cell>delay</inu-table-flex-cell>
            <inu-table-flex-cell>number</inu-table-flex-cell>
            <inu-table-flex-cell>5000ms</inu-table-flex-cell>
            <inu-table-flex-cell></inu-table-flex-cell>
          </inu-table-flex-row>

        </inu-table-flex>
      </fieldset>




    </article>
  </main>


</section>
