/**/
.icons {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding-top: 4rem;

  article {
    display: flex;
    border: 1px solid var(--neutral);
    height: 8rem;
    width: 8rem;
    transition: box-shadow 150ms,-webkit-box-shadow  150ms;
    &:hover{
      -webkit-box-shadow: -1px 0px 15px 4px var(--neutral-light);
      box-shadow: -1px 0px 15px 4px var(--neutral-light);
    }
    header{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      h3{
        font-size: 60%;
        padding: 0;
      }
    }
  }
}
