<section>
  <header>
    <h1>Inugami-NG : inu-svg-switzerland</h1>
  </header>


  <main>
    <!--================================================================================================================
    =
    =================================================================================================================-->
    <article>

      <p>
        The <code>inu-svg-switzerland</code> component provides an <strong>SVG</strong> map of Switzerland, allowing for
        the display and interaction of individual cantons
      </p>
      <p>
        This component is also interactive, allowing users to select cantons and modify their associated values.
      </p>

      <inu-code url="data/charts/inu-svg-switzerland.xml" tag="imports"></inu-code>
      <inu-code url="data/charts/inu-svg-switzerland.xml" tag="usage"></inu-code>
    </article>

    <!--================================================================================================================
    = EXAMPLE
    =================================================================================================================-->

    <article>
      <header>
        <h2>Example</h2>
      </header>


      <div style="height: 400px; width: 500px;">
        <inu-svg-switzerland></inu-svg-switzerland>
      </div>

      <p>
        In its simplest form, the component is limited to display only.
      </p>
      <p>
        When hovering with the mouse, the outlines of the cantons are displayed. They can be selected with a click,
        which turns the outlines white. To deselect, hold the <code>CTRL</code> key and click.
      </p>

    </article>

    <article>
      <header>
        <h2>Example monochrome</h2>
      </header>

      <div style="height: 400px; width: 500px;">
        <inu-svg-switzerland [styleGenerator]="monochrome()"></inu-svg-switzerland>
      </div>

      <p>
        Customizing the color generation per canton is possible by defining the <code>styleGenerator</code> attribute.
      </p>
      <inu-panel-tabs activeTab="usageWithStyleGeneratorHTML">
        <inu-panel-tab name="usageWithStyleGeneratorHTML" label="Html template" icon="layoutTab">
          <inu-code url="data/charts/inu-svg-switzerland.xml" tag="usageWithStyleGenerator"></inu-code>
        </inu-panel-tab>

        <inu-panel-tab name="usageWithStyleGeneratorTS" label="Controller TypeScript" icon="config">
          <inu-code url="data/charts/inu-svg-switzerland.xml" tag="usageWithStyleGeneratorTs"></inu-code>
        </inu-panel-tab>
      </inu-panel-tabs>

      <p>
        The styleGenerator attribute allows you to define a signal of type <code>InuSvgSwitzerlandStyleGenerator</code>

      </p>
      <inu-code url="data/charts/inu-svg-switzerland.xml" tag="InuSvgSwitzerlandStyleGenerator"></inu-code>

      <p>
        You can define your own implementation or choose from the existing ones:
      </p>
      <inu-code url="data/charts/inu-svg-switzerland.xml" tag="InuSvgSwitzerlandStyleGeneratorExisting"></inu-code>
    </article>


    <article>
      <header>
        <h2>Example handler</h2>
      </header>

      <p>
          Displaying a map is a great start, but interactivity takes it to the next level.
      </p>
      <p>
        The component is built for use within <strong>Signal Forms</strong>, a feature introduced in <strong>Angular 21</strong>.
      </p>
      <div class="d-flex-row">
        <div>
          <ul class="d-list-flex-column d-gap-1">
            @for (colorName of colorNames(); track colorName; ) {
              <li>
                <inu-button (click)="chooseColor(colorName)" [label]="colorName"></inu-button>
              </li>
            }
          </ul>
        </div>
        <div style="height: 400px; width: 500px;">
          <inu-svg-switzerland [styleGenerator]="colorLevel()"
                               [actionHandler]="actionHandlerForm"
                               [formField]="myForm.cantons"
                               [valueExtractor]="valueExtractor"
                               [matcher]="matchCantonSelectItem"
                               (changed)="onChanged($event)"
                               (hover)="onHover($event)"
                               (leave)="onLeave($event)"></inu-svg-switzerland>
        </div>
      </div>


      <inu-panel-tabs activeTab="usageFormData">
        <inu-panel-tab name="usageFormData" label="Data" icon="layoutTab">
          <inu-code [source]="data()" type="json"></inu-code>
        </inu-panel-tab>

        <inu-panel-tab name="usageFormHtml" label="HTML template" icon="layoutTab">
          <inu-code url="data/charts/inu-svg-switzerland.xml" tag="usageFormHtml"></inu-code>
        </inu-panel-tab>

        <inu-panel-tab name="usageFormTs" label="Controller TypeScript" icon="config">
          <inu-code url="data/charts/inu-svg-switzerland.xml" tag="usageFormTs"></inu-code>
        </inu-panel-tab>
      </inu-panel-tabs>

      <p>
        You can easily update the color palette by binding a signal to the <code>styleGenerator</code> attribute.
      </p>

      <p>
        In this example, the <code>actionHandler</code> attribute truly comes into its own. We use a complex object to
        define the canton and its level. This object could vary significantly based on your business requirements.
        While the component gives you full control, it requires you to define both the <code>actionHandler</code> and
        the <code>valueExtractor</code> to ensure data is correctly extracted and color management remains functional.
      </p>
      <inu-code url="data/charts/inu-svg-switzerland.xml" tag="actionHandler"></inu-code>

      <p>
        The <code>valueExtractor</code> is straightforward, as it only needs to access the internal <code>InuSelectItem</code>
        object to retrieve the value.
      </p>
      <inu-code url="data/charts/inu-svg-switzerland.xml" tag="valueExtractor"></inu-code>
    </article>

    <!--================================================================================================================
   = PROPERTIES
   =================================================================================================================-->
    <article>
      <header>
        <h2>Properties</h2>
      </header>


      <inu-table-flex>
        <inu-table-flex-header size="0.7fr">Property</inu-table-flex-header>
        <inu-table-flex-header size="2fr">Type</inu-table-flex-header>
        <inu-table-flex-header size="2fr">Default value</inu-table-flex-header>
        <inu-table-flex-header size="4fr">Description</inu-table-flex-header>

        <inu-table-flex-row>
          <inu-table-flex-cell>actionHandler</inu-table-flex-cell>
          <inu-table-flex-cell>InuSvgSwitzerlandAction</inu-table-flex-cell>
          <inu-table-flex-cell></inu-table-flex-cell>
          <inu-table-flex-cell>
            <p>
              When the <code>InuSelectItem</code> contains a complex object or requires custom selection/deselection
              logic,
              a <code>InuSvgSwitzerlandAction</code> handler must be implemented.
            </p>
          </inu-table-flex-cell>
        </inu-table-flex-row>

        <inu-table-flex-row>
          <inu-table-flex-cell>disabled</inu-table-flex-cell>
          <inu-table-flex-cell>boolean</inu-table-flex-cell>
          <inu-table-flex-cell>false</inu-table-flex-cell>
          <inu-table-flex-cell></inu-table-flex-cell>
        </inu-table-flex-row>

        <inu-table-flex-row>
          <inu-table-flex-cell>matcher</inu-table-flex-cell>
          <inu-table-flex-cell>InuSelectItemMatcher</inu-table-flex-cell>
          <inu-table-flex-cell></inu-table-flex-cell>
          <inu-table-flex-cell>
            <p>
              A matcher must be used whenever the <code>InuSelectItem</code> contains a complex object to allow proper
              identification between the internal model and your model.
            </p>
          </inu-table-flex-cell>
        </inu-table-flex-row>

        <inu-table-flex-row>
          <inu-table-flex-cell>styleClass</inu-table-flex-cell>
          <inu-table-flex-cell>string</inu-table-flex-cell>
          <inu-table-flex-cell>inu-copy</inu-table-flex-cell>
          <inu-table-flex-cell></inu-table-flex-cell>
        </inu-table-flex-row>

        <inu-table-flex-row>
          <inu-table-flex-cell>styleGenerator</inu-table-flex-cell>
          <inu-table-flex-cell>InuSvgSwitzerlandStyleGenerator</inu-table-flex-cell>
          <inu-table-flex-cell></inu-table-flex-cell>
          <inu-table-flex-cell>
            <p>
              The <code>styleGenerator</code> attribute is used to provide a function that determines the style of
              each element according to its <code>InuSelectItem</code> value. It allows for dynamic canton coloring
              based on your business rules.
            </p>
          </inu-table-flex-cell>
        </inu-table-flex-row>

        <inu-table-flex-row>
          <inu-table-flex-cell>valueExtractor</inu-table-flex-cell>
          <inu-table-flex-cell>InuSvgSwitzerlandValueExtractor</inu-table-flex-cell>
          <inu-table-flex-cell></inu-table-flex-cell>
          <inu-table-flex-cell>
            <p>
              In the case of complex objects, you must define an extractor to retrieve the value from the
              <code>InuSelectItem</code>. This value is then used by the <code>styleGenerator</code> to determine the
              appropriate colors.
            </p>
          </inu-table-flex-cell>
        </inu-table-flex-row>

        <inu-table-flex-row>
          <inu-table-flex-cell>changed</inu-table-flex-cell>
          <inu-table-flex-cell>{{ changeType }}</inu-table-flex-cell>
          <inu-table-flex-cell></inu-table-flex-cell>
          <inu-table-flex-cell></inu-table-flex-cell>
        </inu-table-flex-row>

        <inu-table-flex-row>
          <inu-table-flex-cell>hover</inu-table-flex-cell>
          <inu-table-flex-cell>{{ hoverType }}</inu-table-flex-cell>
          <inu-table-flex-cell></inu-table-flex-cell>
          <inu-table-flex-cell></inu-table-flex-cell>
        </inu-table-flex-row>
        <inu-table-flex-row>
          <inu-table-flex-cell>leave</inu-table-flex-cell>
          <inu-table-flex-cell>{{ leaveType }}</inu-table-flex-cell>
          <inu-table-flex-cell></inu-table-flex-cell>
          <inu-table-flex-cell></inu-table-flex-cell>
        </inu-table-flex-row>

        <inu-table-flex-row>
          <inu-table-flex-cell>selected</inu-table-flex-cell>
          <inu-table-flex-cell>{{ selectedType }}</inu-table-flex-cell>
          <inu-table-flex-cell></inu-table-flex-cell>
          <inu-table-flex-cell></inu-table-flex-cell>
        </inu-table-flex-row>


      </inu-table-flex>


    </article>
  </main>


</section>
