<section>
  <header>
    <h1>Inugami-NG : inu-doc-item</h1>
  </header>


  <main>
    <!--================================================================================================================
    =
    =================================================================================================================-->
    <article>
      <header>
      </header>

    </article>

    <!--================================================================================================================
    = EXAMPLE
    =================================================================================================================-->

    <article>
      <header>
        <h2>Example</h2>
      </header>

      <inu-doc-item icon="layer"
                    title="level2"
                    [level]="2"
                    href="display/inu-doc-item"
                    id="level2">

          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id ex nec urna pharetra maximus eget
            eget lectus. Duis facilisis leo id odio tempus
          </p>
          <p>
            In finibus augue vehicula. Sed enim orci, placerat sit amet
            dictum non, pharetra vitae lacus
          </p>
        <inu-doc-item title="level3" [level]="3" href="display/inu-doc-item" id="level3">
          <p>
            Etiam dictum sem turpis, a laoreet lacus suscipit eget. Fusce elementum, lorem a tempor viverra, sem turpis
            rutrum enim, quis viverra lorem dui quis dui. Sed a arcu et lorem lobortis fermentum. Fusce arcu augue,
            faucibus ut suscipit in, pulvinar eu libero. Fusce vitae scelerisque lorem, in tristique lectus.
            Donec odio sem, vestibulum quis turpis non
          </p>

          <inu-doc-item title="level4" [level]="4" href="display/inu-doc-item" id="level4">
            <p>
              In ac eleifend enim. Nunc et elementum nisi, eu pulvinar lectus. Class aptent taciti sociosqu ad litora
              torquent per conubia nostra, per inceptos himenaeos. Curabitur mattis scelerisque tincidunt.
              Praesent commodo ante et velit molestie, nec rutrum ligula cursus. Morbi consectetur, ante lacinia varius
              viverra, tellus ipsum convallis eros
            </p>
          </inu-doc-item>

        </inu-doc-item>

      </inu-doc-item>

    </article>



    <!--================================================================================================================
   = PROPERTIES
   =================================================================================================================-->
    <article>
      <header>
        <h2>Properties</h2>
      </header>

      <inu-table-flex>
        <inu-table-flex-header size="0.7fr">Property</inu-table-flex-header>
        <inu-table-flex-header size="2fr">Type</inu-table-flex-header>
        <inu-table-flex-header size="2fr">Default value</inu-table-flex-header>
        <inu-table-flex-header size="4fr">Description</inu-table-flex-header>

        <inu-table-flex-row>
          <inu-table-flex-cell>href</inu-table-flex-cell>
          <inu-table-flex-cell>string</inu-table-flex-cell>
          <inu-table-flex-cell>undefined</inu-table-flex-cell>
          <inu-table-flex-cell></inu-table-flex-cell>
        </inu-table-flex-row>

        <inu-table-flex-row>
          <inu-table-flex-cell>icon</inu-table-flex-cell>
          <inu-table-flex-cell>string</inu-table-flex-cell>
          <inu-table-flex-cell>undefined</inu-table-flex-cell>
          <inu-table-flex-cell></inu-table-flex-cell>
        </inu-table-flex-row>

        <inu-table-flex-row>
          <inu-table-flex-cell>id</inu-table-flex-cell>
          <inu-table-flex-cell>string</inu-table-flex-cell>
          <inu-table-flex-cell>undefined</inu-table-flex-cell>
          <inu-table-flex-cell></inu-table-flex-cell>
        </inu-table-flex-row>

        <inu-table-flex-row>
          <inu-table-flex-cell>level</inu-table-flex-cell>
          <inu-table-flex-cell>number</inu-table-flex-cell>
          <inu-table-flex-cell>2</inu-table-flex-cell>
          <inu-table-flex-cell></inu-table-flex-cell>
        </inu-table-flex-row>

        <inu-table-flex-row>
          <inu-table-flex-cell>styleClass</inu-table-flex-cell>
          <inu-table-flex-cell>string</inu-table-flex-cell>
          <inu-table-flex-cell>inu-doc-item</inu-table-flex-cell>
          <inu-table-flex-cell></inu-table-flex-cell>
        </inu-table-flex-row>

        <inu-table-flex-row>
          <inu-table-flex-cell>title</inu-table-flex-cell>
          <inu-table-flex-cell>string</inu-table-flex-cell>
          <inu-table-flex-cell>undefined</inu-table-flex-cell>
          <inu-table-flex-cell></inu-table-flex-cell>
        </inu-table-flex-row>

      </inu-table-flex>
    </article>
  </main>


</section>
