<fieldset class="inu-open-api-filter">
  <legend>Filters</legend>
  <div class="form-row">

    <div class="form-col">
      <div class="form-cell w100">
        <inu-input-text label="Uri"
                        name="uri"
                        [formField]="formFilter.uri!"></inu-input-text>
      </div>
    </div>


    <div class="form-col">
      <div class="form-cell w100">
        <inu-checkbox-group label="Verbs"
                            [formField]="formFilter.verbs"
                            [values]="verbs()"></inu-checkbox-group>
      </div>

    </div>
  </div>
</fieldset>
