@use 'inu-default-style-color';
@use 'inu-default-style-nav';
@use 'inu-default-style-size';
@use 'inu-default-style-form';
@use 'inu-default-style-flex';
@use 'inu-default-style-svg';

.inu-red{
  fill: #cc0000ff ;
}

html {
  scroll-padding-top: 500px;
  scroll-behavior: smooth;
}

table {
  width: 100%;
  thead {
    th {
      border-bottom: 0.15rem solid var(--neutral-dark);
    }
  }
}
figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  figcaption{
    color: var(--neutral-dark);
    font-style: italic;
    display: flex;
    justify-content: center;
  }
  caption{
    color: var(--neutral-dark);
    font-style: italic;
    display: flex;
    justify-content: center;
  }
}


em {
  color: var(--primary);
  font-weight: bold;
}

dl {
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  &.no-flex{
    flex: none !important;
    display: block;
  }
  dt {
    font-weight: bold;
    color: var(--secondary);
    padding: 10px 0;
    border-bottom: 1px solid #f0f0f0;
    &:hover {
      color: var(--primary); /* Ton rouge d'emphase à 3% */
    }
  }

  dd {
    margin-left: 0;
    padding: 10px 0;
    color: #333333;
    border-bottom: 1px solid #f0f0f0;
  }
}


fieldset{
  margin-bottom: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  border-left: 0.125rem solid transparent;
  &:hover{
    border-left: 0.125rem solid var(--neutral);
  }
}


.actions-inline{
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap:1rem;
}
.cursor-pointer{
  cursor: pointer;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rotate {
  display: inline-block;
  animation: spin 2s linear infinite;
}
