nav.navbar {
  -webkit-box-shadow: 0px 0px 5px 0px var(--shadow-color);
  box-shadow: 0px 0px 5px 0px var(--shadow-color);
  margin: 0;
  padding: 0;
  top: 0;
  position: fixed;
  width: 100%;
  background-color: #fbfbfe;
  font-size: 130%;

  .inugami-icon {
    img {
      height: 2.46rem;
    }
  }

  .navbar-collapse {
    a {
      padding: 0dvh;
      display: flex;
      color: var(--main-header-title-color);
      text-decoration: none;
    }
  }

  .nav-item {
    a {
      height: 3rem;
      display: flex;
      align-items: center;
      border-bottom: 0.15rem solid transparent;
      transition: border 200ms;
      &.active {
        border-bottom: 0.15rem solid var(--primary-dark);
      }
      &:hover {
        border-bottom: 0.15rem solid var(--primary);
      }
    }
  }
  .sublink {
    color: #a0a0a0;
    display: none;
  }
  .navbar-nav {
    display: flex;
    gap: 2rem;
  }
  .navbar-collapse.collapse.show .sublink {
    display: block;
  }
}



menu {
  padding: 0;
  margin: 0;
  a {
    color: var(--text-color);
    text-decoration: none;
    &.active {
      font-weight: bold;
      color: var(--primary-dark);
    }
    &:hover {
      text-decoration: underline;
    }
  }
}

article {
  header {
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        color: var(--primary-dark);
      }
    }
  }
}


@media print {
  av.navbar {
    -webkit-box-shadow: 0px 0px 5px 0px var(--shadow-color);
    box-shadow: 0px 0px 5px 0px var(--shadow-color);
    margin: 0;
    padding: 0;
    top: 0;
    position: absolute;
    width: 100%;
    background-color: #fbfbfe;
    font-size: 130%;
  }
}

article{
  margin-bottom: 2rem;
}
.ontop{
  display: none;
}
.nav-ontop{
  display: none;
}

@media (min-width: 768px) {
  .ontop{
    display: block;
  }
  .nav-ontop{
    display: block;
  }

  .row-reverse {
    display: flex;
    flex-direction: row-reverse;
    gap: 4rem;
  }
  .size-5 {
    width: 10rem;
  }
  .size-10 {
    width: 10rem;
  }
  .size-15 {
    width: 15rem;
  }
  .size-20 {
    width: 15rem;
  }
  .padding-4 {
    padding-right: 4rem;
  }

  dl {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    dt {
      flex: 0 0 30%;
      min-width: 10rem;
    }

    dd {
      flex: 0 0 70%;
      margin-left: 0;
      padding: 10px 0;
    }
  }

  .images-flex{
    gap: 1rem;
    justify-content: center;
    flex-direction: row;
  }
}




#navbarToggler{
  &.show{
    position: fixed;
    top: 3.1rem;
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid;
    a{
      color: var(--neutral-dark);
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
      &.active{
        color: var(--primary-dark);
        font-weight: bold;
      }
    }
    .sublink{
      ul{
        li{
          list-style: square;
        }
      }
    }

  }
}

