:root {
  --main-header-title-color: #0c0c0c;
  --main-header-title-background: #e1e4e7;
  --background-color: #ffffff;
  --shadow-color: #d1d1d1;
  --text-color-light: #f8f7f7;
  --text-color: #1a1a1a;
  --primary-dark: #b20505;
  --primary: #cc0000;
  --primary-light: #afcf2c;
  --secondary-dark-extra: #0a203d;
  --secondary-dark: #1b3c67;
  --secondary: #1f5294;
  --secondary-light: #2c73cf;
  --secondary-light-extra: #d8e7ff;
  --neutral-light-extra-plus: #fbfbfe;
  --neutral-light-extra: #eff3f7;
  --neutral-light: #cdd2d8;
  --neutral-dark: #5d6269;
  --neutral-dark-extra: #262728;
  --neutral: #7a8088;
  --info: #1f5294;
  --info-light: #6094d7;
  --success-dark: #0f621d;
  --success: #1f812f;
  --success-light: #4aa659;
  --success-light-extra: #e1f1e4;
  --danger-dark: #6e1008;
  --danger: #da4134;
  --danger-light: #e5766c;
  --danger-light-extra: #facecb;
  --danger-light-extra-extra: #fdf3f3;
  --warning-dark: #a8700f;
  --warning: #efad32;
  --warning-light: #e0b971;
  --warning-light-extra: #fcf0db;
  --background: #ffffff;
  --endpoint-font-color: #3b4151;
  --endpoint-verb-font-color: #3b4151;
  /** GET---------------------------------------*/
  --endpoint-get-background: #d9d6fe;
  --endpoint-get-background-darker: #3f5470;
  --endpoint-get-detail-background: #f7f7ff;

  /** HEAD-------------------------------------*/
  --endpoint-head-background: #e7ddbd;
  --endpoint-head-background-darker: #443f70;
  --endpoint-head-detail-background: #f9fbff;

  /** POST---------------------------------------*/
  --endpoint-post-background: #bef0c6;
  --endpoint-post-background-darker: #457040;
  --endpoint-post-detail-background: #f2fcf4;

  /** PUT----------------------------------------*/
  --endpoint-put-background: #e1d2b5;
  --endpoint-put-background-darker: #5f5033;
  --endpoint-put-detail-background: #fcfff1;

  /** PATCH-------------------------------------*/
  --endpoint-patch-background: #92d0cd;
  --endpoint-patch-background-darker: #21524e;
  --endpoint-patch-detail-background: #dafffc;

  /** DELETE-----------------------------------*/
  --endpoint-delete-background: #fecdca;
  --endpoint-delete-background-darker: #623F55;
  --endpoint-delete-detail-background: #fff5f4;

  /** OPTIONS*/
  --endpoint-option-background: #ffd4e0;
  --endpoint-option-background-darker: #372E34;
  --endpoint-option-detail-background: #fff6f9;


  /** TRACE-----------------------------------*/
  --endpoint-trace-background: #c1ccda;
  --endpoint-trace-background-darker: #e6ebf5;
  --endpoint-trace-detail-background: #dbdfe7;
}
