.inu-button {
  display: flex;
  gap: 0.5rem;
  justify-content: space-around;
  align-items: center;
  padding: 0.125rem;
  padding-right: 0.25rem;
  padding-left: 0.25rem;

  background-color: var(--neutral-light-extra);
  border: 1px solid var(--neutral);
  -webkit-box-shadow: 0px 0px 0.25rem 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0.25rem 0px rgba(0, 0, 0, 0);

  inu-icon {
    display: flex;
    align-items: center;

    ::ng-deep {
      .inu-icon {
        display: flex;
        align-items: center;

        .inu-icon-content {
          display: flex;
          align-items: center;

          svg {
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }

  .inu-button-icon {
    width: 1.25rem;
  }

  .inu-button-label {
    flex: 1;
  }

  &:hover {
    border-color: var(--neutral);
    -webkit-box-shadow: 0px 0px 0.25rem 0px var(--neutral);
    box-shadow: 0px 0px 0.25rem 0px var(--neutral);
  }

  &.secondary {
    background-color: var(--secondary-light-extra);
    border-color: var(--secondary-light);
    color: var(--text-color);

    &:hover {
      border-color: var(--secondary);
      -webkit-box-shadow: 0px 0px 0.25rem 0px var(--secondary);
      box-shadow: 0px 0px 0.25rem 0px var(--secondary);
    }
  }

  &.primary,
  &.success {
    background-color: var(--success-light-extra);
    border-color: var(--success-light);
    color: var(--text-color);

    &:hover {
      border-color: var(--success);
      -webkit-box-shadow: 0px 0px 0.25rem 0px var(--success);
      box-shadow: 0px 0px 0.25rem 0px var(--success);
    }
  }

  &.warn {
    background-color: var(--warning-light-extra);
    border-color: var(--warning-light);
    color: var(--text-color);

    &:hover {
      border-color: var(--warning);
      -webkit-box-shadow: 0px 0px 0.25rem 0px var(--warning);
      box-shadow: 0px 0px 0.25rem 0px var(--warning);
    }
  }

  &.danger,
  &.error {
    background-color: var(--danger-light-extra);
    border-color: var(--danger-light);
    color: var(--text-color);

    &:hover {
      border-color: var(--danger);
      -webkit-box-shadow: 0px 0px 0.25rem 0px var(--danger);
      box-shadow: 0px 0px 0.25rem 0px var(--danger);
    }
  }


  &.link {
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    box-shadow: 0px 0px 0.25rem 0px transparent !important;

    &:hover {
      background: linear-gradient(to bottom, transparent 95%, var(--neutral) 100%);
    }
  }
}
