@if (link()) {
  <span [class]="_styleClass()">

      @if (icon()) {
        <span [class]="iconStyleClass()" [style.width]="`${iconSize()}rem`" [style.height]="`${iconSize()}rem`">
          <inu-icon [icon]="processing()?_processIcon() : icon()" [size]="1"></inu-icon>
        </span>
      }

    <span class="inu-button-label">
      @if (label()) {
        {{ label() }}
      }
    </span>
  </span>
} @else {
  <button [class]="_styleClass()" [disabled]="disabled()">

    @if (icon()) {
      <span [class]="iconStyleClass()"  [style.width]="`${iconSize()}rem`" [style.height]="`${iconSize()}rem`">
          <inu-icon [icon]="processing()?_processIcon() : icon()" [size]="iconSize()"></inu-icon>
      </span>
    }

    <span class="inu-button-label">
      @if (label()) {
        {{ label() }}
      }
    </span>
  </button>
}
