<section>
  <header>
    <h1>Inugami-NG : inu-aside-menu</h1>
  </header>


  <main>
    <!--================================================================================================================
    =
    =================================================================================================================-->
    <article>
      <header>

      </header>
    </article>

    <!--================================================================================================================
    =
    =================================================================================================================-->


  </main>


</section>
