<section>
  <header>
    <h1>Inugami-NG : inu-open-api</h1>
  </header>


  <main>
    <!--================================================================================================================
    =
    =================================================================================================================-->
    <article>
      <header>
        <h2>Streamline your OpenAPI contract visualization</h2>

        <p>
          Many projects need to bridge the communication gap between teams developing and consuming REST services.
          While the standard Spring Boot approach can be used to display a service contract, it only reflects the
          current state of the application's web services.
        </p>

        <p>
          When managing API versioning, it becomes essential to communicate all available API versions.
          These versions may reside on different instances (or even separate clusters), allowing for
          precise control over backward compatibility.
        </p>


        <inu-cite level="success" title="Versions across different instances or clusters">
          In such scenarios, there are few solutions available for centrally displaying different API versions.
          The inu-open-api component is designed to help your documentation platform display various service
          contracts in a centralized way.
        </inu-cite>

        <inu-code url="data/display/inu_open_api_source_code.xml" tag="inu-open-api-import"></inu-code>
      </header>



    </article>

    <article>
      <header>
        <h2>Example</h2>
      </header>

      <inu-code url="data/display/inu_open_api_source_code.xml" tag="usage"></inu-code>

      <inu-open-api url="data/display/inu_open_api_content.json"></inu-open-api>

    </article>

  </main>


</section>
