<section>
  <header>
    <h1>Inugami-NG : InuStringUtils</h1>
  </header>


  <main>
    <!--================================================================================================================
    =
    =================================================================================================================-->
    <article>
      <header>
        <h2>normalize</h2>
      </header>

      <p>
        In some cases, it is necessary to remove accents and other special characters. The InuStringUtils utility class
        provides a dedicated method to perform this task.
      </p>
      <inu-code url="data/utils/inu_string_utils_source_code.xml" tag="normalize"></inu-code>
    </article>


  </main>


</section>
