<menu>
    <ul>
        <li>
            <a target="_blank" href="https://github.com/inugamiio/inugami-ng">GitHub</a>
        </li>
        <li>
          <a  routerLink="/icons"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: false }">Icons</a>
        </li>

      <!--==============================================================================================================
      = ACTION
      ===============================================================================================================-->
      <li>
        <span>Actions</span>
        <ul>
          <li>
            <a  routerLink="/actions/inu-button"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: false }">inu-button</a>
          </li>
          <li>
            <a  routerLink="/actions/inu-copy"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: false }">inu-copy</a>
          </li>
        </ul>
      </li>

      <!--==============================================================================================================
      = DISPLAY
      ===============================================================================================================-->
      <li>
        <span>Display</span>
        <ul>
          <li>
            <a  routerLink="/display/inu-cite"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: false }">inu-cite</a>
          </li>
          <li>
            <a  routerLink="/display/inu-code"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: false }">inu-code</a>
          </li>
          <li>
            <a  routerLink="/display/inu-doc-item"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: false }">inu-doc-item</a>
          </li>
          <li>
            <a  routerLink="/display/inu-open-api"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: false }">inu-open-api</a>
          </li>
          <li>
            <a  routerLink="/display/inu-panel-tabs"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: false }">inu-panel-tabs</a>
          </li>
          <li>
            <a  routerLink="/display/inu-toast"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: false }">inu-toast</a>
          </li>
        </ul>
      </li>

      <!--==============================================================================================================
      = FORMS
      ===============================================================================================================-->
      <li>
        <span>Forms</span>
        <ul>
          <li>
            <a  routerLink="/forms/inu-checkbox-group"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: false }">inu-checkbox-group</a>
          </li>
        </ul>
      </li>
      <!--==============================================================================================================
     = FORMS
     ===============================================================================================================-->
      <li>
        <span>Tables</span>
        <ul>
          <li>
            <a  routerLink="/tables/inu-table-flex"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: false }">inu-table-flex</a>
          </li>
        </ul>
      </li>
    </ul>
</menu>
