<div [class]="_styleClass()">


  <div class="inu-panel-tabs-headers">
    <ul [class.noValid]="!valid()">
      @for (tab of tabs(); track tab) {
        <li [class.display]="tab.display()"
            [class.noAccess]="!tab.hasAccess()"
            [class.noValid]="!tab.valid()"
            (click)="openTab(tab)">
            <div class="inu-panel-tabs-headers-child">
              <div class="inu-panel-tabs-headers-child-tab">
                <div class="inu-panel-tabs-headers-child-tab-icon">
                  @if(tab.icon()){
                    <inu-icon [icon]="tab.icon()" [size]="1"></inu-icon>
                  }
                </div>
                <div  class="inu-panel-tabs-headers-child-tab-label">{{tab.label()!}}</div>
              </div>
            </div>
        </li>
      }
    </ul>
  </div>
  <div class="inu-panel-tabs-content">
    @for (tab of tabs(); track tab) {
      <div class="tab-panel">
        @if(tab.display() && tab.hasAccess()){
          @if(tab.templateRef()){
            <ng-container [ngTemplateOutlet]="tab.templateRef()" />
          }
        }
      </div>
    }
  </div>



</div>
