<section>
  <header>
    <h1>Inugami-NG : inu-svg-value</h1>

  </header>


  <main>

    <!--================================================================================================================
    = EXAMPLE
    =================================================================================================================-->
    <article>
      <header>
        <h2>Example</h2>
      </header>

      <div class="form-container">
        <div class="form-row-col">
          <div class="form-cell m-width-50p d-flex-column">
            <div class="d-flex-row d-gap-2">
              renderer
            </div>


            <div class="timeline-container">
              <inu-svg-value label="Value graph"
                                >
              </inu-svg-value>
            </div>
          </div>

          <div class="form-cell m-height-15 m-width-20 d-flex-column">
            <inu-panel-tabs>

              <inu-panel-tab name="data" label="Data">

              </inu-panel-tab>

              <inu-panel-tab name="html" label="HTML">

              </inu-panel-tab>
              <inu-panel-tab name="ts" label="TypeScript">

              </inu-panel-tab>

              <inu-panel-tab name="hover" label="Event hover">

              </inu-panel-tab>
            </inu-panel-tabs>
          </div>
        </div>
      </div>
    </article>


    <!--=================================================================================================================
    = PROPERTIES
    =================================================================================================================-->
    <article>
      <header>
        <h2>Properties</h2>
      </header>


      <inu-table-flex>
        <inu-table-flex-header size="0.7fr">Property</inu-table-flex-header>
        <inu-table-flex-header size="2fr">Type</inu-table-flex-header>
        <inu-table-flex-header size="2fr">Default value</inu-table-flex-header>
        <inu-table-flex-header size="4fr">Description</inu-table-flex-header>

        <inu-table-flex-row>
          <inu-table-flex-cell>disabled</inu-table-flex-cell>
          <inu-table-flex-cell>boolean</inu-table-flex-cell>
          <inu-table-flex-cell>false</inu-table-flex-cell>
          <inu-table-flex-cell>Disables user interactions on the timeline component.</inu-table-flex-cell>
        </inu-table-flex-row>

      </inu-table-flex>


    </article>
  </main>


</section>
