<div class="inu-open-api">
  @if(_value()){

    <section>
      @if(_value()?.info){
        <header class="inu-open-api-main-header">
          <div class="inu-open-api-main-header-detail">
            <h2>{{_value()?.info?.title!}}</h2>
            <h3>{{_value()?.info?.version!}}</h3>
            <p>
              {{_value()?.info?.description!}}
            </p>
          </div>

          <ul class="inu-open-api-main-actions">
            @if(url()){
              <li>
                <inu-icon [size]="1.5" icon="download" (click)="download()"></inu-icon>
              </li>
            }
          </ul>
        </header>
      }

      <!--<inu-open-api-filter></inu-open-api-filter>-->
      <div class="endpoints">
        @if(_value()?.paths){
          @for (endpoint of _value()?.paths;track endpoint.uri;) {
            <inu-open-api-endpoint [data]="endpoint" [schemas]="_value()?.components?.schemas"></inu-open-api-endpoint>
          }
        }
      </div>
    </section>
  }
</div>
