<div class="inu-open-api-parameters">
  @if (data()) {
    <div class="inu-flex-table">
      <div class="flex-table-header">
        <div class="flex-table-header-th name">Name</div>
        <div class="flex-table-header-th type">Type</div>
        <div class="flex-table-header-th desc">Description</div>
        <div class="flex-table-header-th examples">Examples</div>
      </div>


      <div class="flex-table-body">

        @for (parameter of data(); track parameter.name; let index = $index; let isFirst = $first; let isOdd = $odd) {
          <div  [class]="getRowClass(index,isFirst, isOdd , (parameter.deprecated?'deprecated': ''))">
            <div class="flex-table-body-cell">
              <span>{{parameter.name}}</span>
              @if (parameter.required) {
                <span class="required"><span class="label"></span></span>
              } @else {
                <span></span>
              }
            </div>
            <div  class="flex-table-body-cell">{{parameter.schema?.type}}</div>
            <div  class="flex-table-body-cell">{{parameter.description}}</div>
            <div  class="flex-table-body-cell">
              @if(parameter.example){
                <div class="parameters-main-example">
                  <inu-code [source]="parameter.example"></inu-code>
                </div>
              }

              @if(parameter.examples && parameter.examples.length>0){
                <div class="parameters-examples">
                  @for (example of parameter.examples; track example.name; let paramIndex = $index; let firstExample = $first; let oddExample = $odd) {
                    <div [class]="getRowClass(paramIndex,firstExample, oddExample ,'parameter-example')">
                      <div  [class]="getParameterClass(paramIndex,'parameter-example-header')" (click)="toggleExample(paramIndex)">
                        {{example.name}}
                      </div>
                      <dl [class]="getParameterClass(paramIndex,'example-content')">
                        <dt>Summary</dt>
                        <dd>{{example.summary}}</dd>

                        <dt>External value</dt>
                        <dd>{{example.externalValue}}</dd>

                        <dt>Description</dt>
                        <dd>{{example.description}}</dd>

                        <dt>Value</dt>
                        <dd><inu-code [source]="example.value"></inu-code></dd>

                      </dl>
                    </div>
                  }
                </div>
              }

            </div>
          </div>
        }

      </div>
    </div>
  }
</div>
