<section>
  <header>
    <h1>Inugami-NG : inu-code</h1>
  </header>


  <main>
    <!--================================================================================================================
    =
    =================================================================================================================-->
    <article>
      <header>
        <h2></h2>
      </header>

      <inu-code url="data/display/inu_code_source_code.xml" tag="asserts_usage"></inu-code>
    </article>


  </main>


</section>
