/*
 */
.inu-dropdown {

  &.invalid {
    .inu-dropdown-label-label {
      color: var(--danger);
    }
  }

  .required {
    fill: var(--danger);
  }

  &.disabled{
    label{
      color:var(--neutral);
    }
    .inu-dropdown-input-grp{
      border-bottom: 2px solid var(--neutral-light) ;
    }

    .inu-dropdown-input-selected{
      border: 0.125rem solid var(--neutral-light) !important;
    }
  }
  .inu-dropdown-label-label {
    display: flex;
    flex-direction: row;
    font-weight: bold;
  }

  inu-select-list {
    width: 100%;
  }

  .inu-dropdown-values-grp {
    display: flex;
    height: 0;
    overflow: hidden;
    position: absolute;
    z-index: 5000;
    background: var(--background-color);
    border: 1px solid transparent;
    padding: 0;
    -webkit-box-shadow: 0px 0px 15px 0px transparent;
    box-shadow: 0px 0px 15px 0px transparent;
    transition: height 500ms;

    &.display {
      border: 1px solid var(--shadow-color);
      opacity: 1;
      max-height: 15rem;
      height: auto;
      overflow-y: scroll;
      padding: 0.5rem;
      -webkit-box-shadow: 0px 0px 15px 0px var(--shadow-color);
      box-shadow: 0px 0px 15px 0px var(--shadow-color);
    }
  }

  .inu-dropdown-input-grp {
    display: flex;
    border-bottom: 2px solid var(--neutral);
    transition: border-bottom 250ms;
    outline: none;
    align-items: end;

    &:focus {
      border-bottom: 2px solid var(--secondary-light);
    }


    .inu-dropdown-input-selected {
      border: 0.125rem solid var(--neutral);
      border-radius: 1rem;
      padding: 0.25rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }

    ul {
      flex: 1;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      padding-bottom: 0.25rem;
      display: flex;
      flex-direction: row;
      list-style: none;
      gap: 1rem;
      min-height: 1rem;
    }

    button {
      outline: none;
      border: none;
      background: transparent;
      display: flex;
      justify-content: center;
      align-content: center;

      ::ng-deep {
        svg {
          transition: transform 350ms;
        }
      }

      &.isDisplay {
        ::ng-deep {
          svg {
            transform: rotate(180deg);
          }
        }

      }
    }
  }
}
