<div [class]="_styleClass()"
     (keydown)="onKeyDown($event)">
  <!--==================================================================================================================
  = LABEL
  ===================================================================================================================-->
  <div class="inu-dropdown-label-grp">
    <div class="inu-dropdown-label-label">
      @if (label() || labelKey()) {
        @if (labelKey()) {
          <label>
            <inu-label [key]="labelKey()" [defaultValue]="label()!"></inu-label>
          </label>
        } @else {
          <label>{{ label()! }}</label>
        }
      }
      @if (_required()) {
        <div class="required">
          <inu-icon icon="required" [size]="0.5"></inu-icon>
        </div>
      }
    </div>
  </div>
  <div class="inu-dropdown-input-grp" (click)="toggleDisplay()">
    <ul>
      @for (selectedValue of data(); track selectedValue; let j = $index) {
        <li class="inu-dropdown-input-selected">
          @if (selectedValueTemplate()) {
            <ng-container *ngTemplateOutlet="selectedValueTemplate(); context: { $implicit: selectedValue, index: j}"></ng-container>
          }
          @else{
            {{selectedValue.title}}
          }
        </li>
      }
    </ul>
    @if(!this.disabled()){
      <button (click)="toggleDisplay()" [ngClass]="{isDisplay:display()}">
        <inu-icon icon="chevron_down" [size]="1"></inu-icon>
      </button>
    }
  </div>
    <div class="inu-dropdown-values-grp"
         [ngClass]="{display:display()}"
         [style.width]="width()">
      <inu-select-list #selectList
                       [disabled]="disabled()"
                       [displayFilter]="displayFilter()"
                       [debounce]="debounce()"
                       [labelFilter]="labelFilter()"
                       [labelFilterKey]="labelFilterKey()"
                       [multiSelect]="multiSelect()"
                       [values]="values()"
                       [matcher]="matcher()"
                       [extractor]="extractor()"
                       [initializer]="initializer()"
                       [lazy]="lazy()"
                       [loadingType]="loadingType()"
                       [pageSize]="pageSize()"
                       (changed)="onChanged($event)"
                       (changedSelectItems)="onChangedSelectItems($event)">
      </inu-select-list>
    </div>

</div>
