/*

 */
.inu-checkbox-group{
  display: flex;


  ul{
    display: flex;
    margin: 0;
    padding: 0;
    gap: 1rem;
    li{
      display: flex;
      gap: 0.25rem;
      align-items:center;

      .inu-checkbox-group-icon{
        user-select:none;
        cursor: pointer;
        border: 0.125px solid var(--text-color);
        display: flex;
        height: 1rem;
        width: 1rem;
        align-items:center;

        ::ng-deep{
          span{
            display: flex;
            align-items:center;
          }
        }

      }
      .inu-checkbox-group-label{
        cursor: pointer;
        display: flex;
        align-items:center;
        user-select:none;
      }
    }
  }
}
